PDFSUM_MONGODB_URI=mongodb://usuario:senha@mongodb.example:27017/
PDFSUM_SERVER_URL=http://serveria-stg:8766

PDFSUM_INPUT_MODE=url # Valores admitidos: url o folder
PDFSUM_INPUT_FOLDER= # Obligatorio solamente cuando PDFSUM_INPUT_MODE=folder; vacío cuando se usa url
